.projectItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000000;
  background-color: #fff;
}

.actionButton {
  color: #ffffff;
  border: none;
  cursor: pointer;
}


/* botones dentro del menú desplegable */
.dropdown button {
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 11px;
  color: #000000;
  cursor: pointer;
  display: flex;
  border: #000000;

}


.info, .manager, .assignedTo, .status, .actions {
  margin-right: 1rem;
}

.info h3 {
   color: #000000;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 15px;
   padding: 5px;
}

.info p {
  margin: 0;
  font-size: 0.8rem;
  color: #000000;
  padding: 5px;
}

.manager, .assignedTo, .status {
  text-align: center;
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 50px;
  color: #9e2e2e;
}

/* Estilos para mobile */
@media (max-width: 768px) {
  .projectItem {
      display: block;
  }

  .info, .manager, .assignedTo, .status, .actions {
      margin-bottom: 10px;
  }

  .actions {
      display: flex;
      justify-content: space-between;
  }
}
