.projectListContainer {
  width: 100%;
  overflow-x: auto; 
  max-width: 100%;
  margin: auto; 
}

.projectTable {
   min-width: 600px; 
   border-collapse: collapse;
}

.projectTable th {
  background-color: #f4f4f4;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.projectTable td, .projectTable th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projectTable tr:hover {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .projectListContainer {
    width: 90%;
    margin: 20px auto;
  }

  .projectTable {
    width: 100%;
  }
}